body{
   
   
    background-image:linear-gradient(to right, rgba(209, 126, 126, 0.747) , rgba(228, 226, 198, 0.664));  
   
}


.container{
    background-color: rgba(255, 255, 255, .15);  
 backdrop-filter: blur(5px);
}

