body{
   background-color: rgba(158, 34, 241, 0.287); 
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
  }
  .navbar[class*="-unpinned"] {
    transform: translate(0, -150%);
  }
  .navbar[class*="-pinned"] {
    transform: translate(0, 0);
  }
  .navbar[class*="headroom--not-top"] {
   background-color: rgba(216, 59, 169, 0.747);
    border-bottom: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 28px;
    color:rgb(195, 4, 248);
  }
  
  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 0 20px;
    background-image: rgba(189, 107, 53, 0.664);
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 22px;
    overflow: hidden;
    position: relative;
    left: 100px;
  }
  .nav-link span {
    position: relative;
  
    display: inline-block;
    transition: transform 0.3s;
  }
  .nav-link span:before {
    position: absolute;
    top: 100%;
    
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }
  
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(207, 4, 248);
    font-weight : bold;
  }
  .navbar-light .navbar-nav .nav-link:focus span,
  .navbar-light .navbar-nav .nav-link:hover span {
    transform: translateY(-100%);
  }
  
  .navbar-light .navbar-toggler-icon {
    background: none;
  }
  
  .navbar-toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
    transform: rotate(45deg);
    top: 6px;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
    display: none;
  }
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
  }
  .navbar-toggler .navbar-toggler-icon {
    background: #000000;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
  }
  