body{
   background-color: rgba(236, 232, 238, 0.856); 
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 50px 50px;
  grid-template-areas:
    'f f f f f'
    'a a b c c '
    'a a b c c '
  ;
}

/* @media() */


.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
 
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}


.hero:hover{


transition: 2s;

background-color:  rgba(238, 35, 35, 0.15);
border: 8px solid black;
}

.animated-info {
  display: inline;
  vertical-align: top;
  margin-top: 5px;
 position: relative;
 
}

.animated-item {
  color:rgb(0, 0, 0);
  font-family: 'Monoton', cursive ;

}

.animated-item {
  font-size: 48px;

display: inline;
  opacity: 0;
 
  position: absolute;
  top: 0;
  left: 60px;
  
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}
@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.TEXT:hover{
  
}