body{
   
    background-image: linear-gradient(to right, rgba(184, 105, 160, 0.747) , rgba(189, 107, 53, 0.664));  
   
}


.container{
    height: 400px;
    width: 800px;
    background-color: rgba(255, 255, 255, 0.178); 
    backdrop-filter: blur(5px);
} 